footer.footer
  .container
    .content.has-text-centered
      p
        strong We Play Music
        |  by 
        i Dave Torrente
        |  and 
        i Francesca Villasanta
        | . The website content is licensed.

script(async='', type='text/javascript', src='javascripts/bulma.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')